html  {
    background-image: url(GSK-web2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1  {
    font-family: Lobster, Geneva, Tahoma, sans-serif;
}